<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hub.gisdatahub.admin.mapper.SystemSettingMapper">

    <select id="findSystemSettingByKey" resultType="com.hub.gisdatahub.admin.dto.SystemSettingDto">
        SELECT
            setting_id AS settingId,
            setting_key AS settingKey,
            setting_name AS settingName,
            setting_value AS settingValue,
            description,
            is_editable AS isEditable,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM sd_system_setting
        WHERE setting_key = #{settingKey}
    </select>

    <update id="updateSystemSettingValue">
        UPDATE sd_system_setting
        SET
            setting_value = #{settingValue},
            updated_at = now()
        WHERE setting_key = #{settingKey}
    </update>

    <insert id="insertSystemSettingConfigLog">

        INSERT INTO sd_system_setting_config_log (
            admin_user_id,
            setting_key,
            before_value,
            after_value,
            description
        )
        VALUES (
            #{adminUserId},
            #{settingKey},
            #{beforeValue},
            #{afterValue},
            #{description}
        )
    </insert>

    <select id="findSystemSettingAll" resultType="com.hub.gisdatahub.admin.dto.SystemSettingDto">
        SELECT
            setting_id AS settingId,
            setting_key AS settingKey,
            setting_name AS settingName,
            setting_value AS settingValue,
            description,
            is_editable AS isEditable,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM sd_system_setting
        ORDER BY setting_id ASC
    </select>

    <select id="findSystemSettingConfigLogList"
            resultType="com.hub.gisdatahub.admin.dto.SystemSettingConfigLogDto">

        SELECT
            sscl.log_id AS logId,
            sscl.admin_user_id AS adminUserId,
            sscl.setting_key AS settingKey,
            sscl.before_value AS beforeValue,
            sscl.after_value AS afterValue,
            sscl.description AS description,
            sscl.created_at AS createdAt,
            su.username AS adminUsername
        FROM sd_system_setting_config_log sscl
        LEFT JOIN sd_user su
            ON sscl.admin_user_id = su.user_id
        ORDER BY sscl.log_id DESC

    </select>

</mapper>